@import "./variables";

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

// ! Global Classes
#button,
a#button {
  border: 2px $blueText solid;
  padding: 0.5vw;
  color: $blueText;
  margin: 1vh;
  font-size: 0.9vw;

  &:hover {
    transform: scale(1.1);
    transition: all 80ms;
    cursor: pointer;
  }
}

//! Header
header {
  display: flex;
  justify-content: center;
  .wrapper {
    width: 98%;
    padding: 1.7vh 2vh;
    color: $headerTextColor;
    border-bottom: solid 0.1vh $headerTextColor;
    margin-bottom: 5vh;
    h3 {
      float: left;
      font-size: 1.5rem;
      color: #000000de;
    }
    ul,
    h4 {
      float: right;

      li {
        display: inline-block;
        padding-left: 3vh;
        font-weight: bold;
        &:hover {
          color: $blueText;
          transform: scale(1.05);
          transition: all 80ms;
        }
        a {
          color: $headerTextColor;
          text-decoration: none;
        }
      }
    }
  }
}

// ! Main Focus
.focus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  #focus-top {
    font-weight: 300;
    font-size: 3.5vw;
  }
  #focus-bottom {
    margin-bottom: 2vh;
    font-weight: 600;
    font-size: 4vw;
  }
  h3 {
    color: $blueText;
    font-weight: 500;
    margin-bottom: 8vh;
  }
}

// ! Image Selectoins
#selections {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  .selections_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.image-container {
  width: 17vw;
  img {
    border-radius: 3%;
    width: 100%;
    height: 42vh;
  }
}

// ! Footer
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 4.5vh 0vh 1vh;
  h3 {
    color: $headerTextColor;
    text-transform: capitalize;
    font-size: 1vw;
    font-weight: 600;
    border-bottom: 1px solid $headerTextColor;
    width: 13.5%;
  }
}
